ProyectosNET/LP2MegaAutos/Connected Services/ServicioOrdenTrabajo/OrdenTrabajoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.megaautos.com.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="OrdenTrabajoWS" targetNamespace="http://services.megaautos.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://72.44.47.118:8080/LP2MegaAutosServices/OrdenTrabajoWS?xsd=1" namespace="http://services.megaautos.com.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarOrdenTrabajo">
    <part name="parameters" element="tns:insertarOrdenTrabajo" />
  </message>
  <message name="insertarOrdenTrabajoResponse">
    <part name="parameters" element="tns:insertarOrdenTrabajoResponse" />
  </message>
  <message name="eliminarOrdenTrabajo">
    <part name="parameters" element="tns:eliminarOrdenTrabajo" />
  </message>
  <message name="eliminarOrdenTrabajoResponse">
    <part name="parameters" element="tns:eliminarOrdenTrabajoResponse" />
  </message>
  <message name="listarOrdenTrabajo">
    <part name="parameters" element="tns:listarOrdenTrabajo" />
  </message>
  <message name="listarOrdenTrabajoResponse">
    <part name="parameters" element="tns:listarOrdenTrabajoResponse" />
  </message>
  <message name="actualizarOrdenTrabajo">
    <part name="parameters" element="tns:actualizarOrdenTrabajo" />
  </message>
  <message name="actualizarOrdenTrabajoResponse">
    <part name="parameters" element="tns:actualizarOrdenTrabajoResponse" />
  </message>
  <portType name="OrdenTrabajoWS">
    <operation name="insertarOrdenTrabajo">
      <input wsam:Action="http://services.megaautos.com.pe/OrdenTrabajoWS/insertarOrdenTrabajoRequest" message="tns:insertarOrdenTrabajo" />
      <output wsam:Action="http://services.megaautos.com.pe/OrdenTrabajoWS/insertarOrdenTrabajoResponse" message="tns:insertarOrdenTrabajoResponse" />
    </operation>
    <operation name="eliminarOrdenTrabajo">
      <input wsam:Action="http://services.megaautos.com.pe/OrdenTrabajoWS/eliminarOrdenTrabajoRequest" message="tns:eliminarOrdenTrabajo" />
      <output wsam:Action="http://services.megaautos.com.pe/OrdenTrabajoWS/eliminarOrdenTrabajoResponse" message="tns:eliminarOrdenTrabajoResponse" />
    </operation>
    <operation name="listarOrdenTrabajo">
      <input wsam:Action="http://services.megaautos.com.pe/OrdenTrabajoWS/listarOrdenTrabajoRequest" message="tns:listarOrdenTrabajo" />
      <output wsam:Action="http://services.megaautos.com.pe/OrdenTrabajoWS/listarOrdenTrabajoResponse" message="tns:listarOrdenTrabajoResponse" />
    </operation>
    <operation name="actualizarOrdenTrabajo">
      <input wsam:Action="http://services.megaautos.com.pe/OrdenTrabajoWS/actualizarOrdenTrabajoRequest" message="tns:actualizarOrdenTrabajo" />
      <output wsam:Action="http://services.megaautos.com.pe/OrdenTrabajoWS/actualizarOrdenTrabajoResponse" message="tns:actualizarOrdenTrabajoResponse" />
    </operation>
  </portType>
  <binding name="OrdenTrabajoWSPortBinding" type="tns:OrdenTrabajoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarOrdenTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarOrdenTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarOrdenTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarOrdenTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OrdenTrabajoWS">
    <port name="OrdenTrabajoWSPort" binding="tns:OrdenTrabajoWSPortBinding">
      <soap:address location="http://72.44.47.118:8080/LP2MegaAutosServices/OrdenTrabajoWS" />
    </port>
  </service>
</definitions>