ProyectosNET/LP2MegaAutos/Connected Services/ServicioOrdenTrabajo/OrdenTrabajoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarOrdenTrabajo" type="tns:actualizarOrdenTrabajo" />
  <xs:element name="actualizarOrdenTrabajoResponse" type="tns:actualizarOrdenTrabajoResponse" />
  <xs:element name="eliminarOrdenTrabajo" type="tns:eliminarOrdenTrabajo" />
  <xs:element name="eliminarOrdenTrabajoResponse" type="tns:eliminarOrdenTrabajoResponse" />
  <xs:element name="insertarOrdenTrabajo" type="tns:insertarOrdenTrabajo" />
  <xs:element name="insertarOrdenTrabajoResponse" type="tns:insertarOrdenTrabajoResponse" />
  <xs:element name="listarOrdenTrabajo" type="tns:listarOrdenTrabajo" />
  <xs:element name="listarOrdenTrabajoResponse" type="tns:listarOrdenTrabajoResponse" />
  <xs:complexType name="listarOrdenTrabajo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarOrdenTrabajoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ordenTrabajo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="comprobantePago" type="tns:comprobantePago" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="numeroOrden" type="xs:string" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
      <xs:element name="totalEgresos" type="xs:double" />
      <xs:element name="totalIngresos" type="xs:double" />
      <xs:element minOccurs="0" name="vehiculo" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCliente" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="numeroComprobante" type="xs:string" />
      <xs:element minOccurs="0" name="ordenTrabajo" type="tns:ordenTrabajo" />
      <xs:element minOccurs="0" name="tipoComprobante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="propietario" type="tns:cliente" />
      <xs:element minOccurs="0" name="tipoVehiculo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="objOT" type="tns:ordenTrabajo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarOrdenTrabajoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarOrdenTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="objOT" type="tns:ordenTrabajo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarOrdenTrabajoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenTrabajo">
    <xs:sequence>
      <xs:element name="idOT" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarOrdenTrabajoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>