ProyectosNET/LP2MegaAutos/Connected Services/ServicioReporte/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarReportePorId" type="tns:buscarReportePorId" />
  <xs:element name="buscarReportePorIdResponse" type="tns:buscarReportePorIdResponse" />
  <xs:element name="insertarReporte" type="tns:insertarReporte" />
  <xs:element name="insertarReporteResponse" type="tns:insertarReporteResponse" />
  <xs:element name="listarReportes" type="tns:listarReportes" />
  <xs:element name="listarReportesResponse" type="tns:listarReportesResponse" />
  <xs:complexType name="listarReportes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarReportesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="egresos" type="xs:double" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element name="idExcelEntrada" type="xs:int" />
      <xs:element name="idExcelSalida" type="xs:int" />
      <xs:element name="idReporte" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="ingresos" type="xs:double" />
      <xs:element name="mapaDetalle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string" />
                  <xs:element minOccurs="0" name="value" type="tns:arrayList" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="mapaDetalleMontos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string" />
                  <xs:element minOccurs="0" name="value" type="tns:arrayList" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
      <xs:element minOccurs="0" name="tipoReporte" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="arrayList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:abstractList">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="abstractList" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:abstractCollection">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="abstractCollection" abstract="true">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarReporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="reporte" type="tns:reporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarReporteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarReportePorId">
    <xs:sequence>
      <xs:element name="idReporte" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarReportePorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reporte" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>