ProyectosNET/LP2MegaAutos/Connected Services/ServicioPassword/PasswordWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="enviarCorreo" type="tns:enviarCorreo" />
  <xs:element name="enviarCorreoResponse" type="tns:enviarCorreoResponse" />
  <xs:element name="invalidarToken" type="tns:invalidarToken" />
  <xs:element name="invalidarTokenResponse" type="tns:invalidarTokenResponse" />
  <xs:element name="recuperarPasswrd" type="tns:recuperarPasswrd" />
  <xs:element name="recuperarPasswrdResponse" type="tns:recuperarPasswrdResponse" />
  <xs:element name="sendMail" type="tns:sendMail" />
  <xs:element name="sendMailResponse" type="tns:sendMailResponse" />
  <xs:element name="verificarToken" type="tns:verificarToken" />
  <xs:element name="verificarTokenResponse" type="tns:verificarTokenResponse" />
  <xs:complexType name="recuperarPasswrd">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="token" type="xs:string" />
      <xs:element minOccurs="0" name="passwrd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recuperarPasswrdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarCorreo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="enviarCorreoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarTokenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendMail">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sendMailResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invalidarToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="token" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="invalidarTokenResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>