ProyectosNET/LP2MegaAutos/Connected Services/ServicioPassword/PasswordWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.megaautos.com.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PasswordWS" targetNamespace="http://services.megaautos.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://72.44.47.118:8080/LP2MegaAutosServices/PasswordWS?xsd=1" namespace="http://services.megaautos.com.pe/" />
    </xsd:schema>
  </types>
  <message name="sendMail">
    <part name="parameters" element="tns:sendMail" />
  </message>
  <message name="sendMailResponse">
    <part name="parameters" element="tns:sendMailResponse" />
  </message>
  <message name="recuperarPasswrd">
    <part name="parameters" element="tns:recuperarPasswrd" />
  </message>
  <message name="recuperarPasswrdResponse">
    <part name="parameters" element="tns:recuperarPasswrdResponse" />
  </message>
  <message name="enviarCorreo">
    <part name="parameters" element="tns:enviarCorreo" />
  </message>
  <message name="enviarCorreoResponse">
    <part name="parameters" element="tns:enviarCorreoResponse" />
  </message>
  <message name="verificarToken">
    <part name="parameters" element="tns:verificarToken" />
  </message>
  <message name="verificarTokenResponse">
    <part name="parameters" element="tns:verificarTokenResponse" />
  </message>
  <message name="invalidarToken">
    <part name="parameters" element="tns:invalidarToken" />
  </message>
  <message name="invalidarTokenResponse">
    <part name="parameters" element="tns:invalidarTokenResponse" />
  </message>
  <portType name="PasswordWS">
    <operation name="sendMail">
      <input wsam:Action="http://services.megaautos.com.pe/PasswordWS/sendMailRequest" message="tns:sendMail" />
      <output wsam:Action="http://services.megaautos.com.pe/PasswordWS/sendMailResponse" message="tns:sendMailResponse" />
    </operation>
    <operation name="recuperarPasswrd">
      <input wsam:Action="http://services.megaautos.com.pe/PasswordWS/recuperarPasswrdRequest" message="tns:recuperarPasswrd" />
      <output wsam:Action="http://services.megaautos.com.pe/PasswordWS/recuperarPasswrdResponse" message="tns:recuperarPasswrdResponse" />
    </operation>
    <operation name="enviarCorreo">
      <input wsam:Action="http://services.megaautos.com.pe/PasswordWS/enviarCorreoRequest" message="tns:enviarCorreo" />
      <output wsam:Action="http://services.megaautos.com.pe/PasswordWS/enviarCorreoResponse" message="tns:enviarCorreoResponse" />
    </operation>
    <operation name="verificarToken">
      <input wsam:Action="http://services.megaautos.com.pe/PasswordWS/verificarTokenRequest" message="tns:verificarToken" />
      <output wsam:Action="http://services.megaautos.com.pe/PasswordWS/verificarTokenResponse" message="tns:verificarTokenResponse" />
    </operation>
    <operation name="invalidarToken">
      <input wsam:Action="http://services.megaautos.com.pe/PasswordWS/invalidarTokenRequest" message="tns:invalidarToken" />
      <output wsam:Action="http://services.megaautos.com.pe/PasswordWS/invalidarTokenResponse" message="tns:invalidarTokenResponse" />
    </operation>
  </portType>
  <binding name="PasswordWSPortBinding" type="tns:PasswordWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sendMail">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="recuperarPasswrd">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enviarCorreo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="invalidarToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PasswordWS">
    <port name="PasswordWSPort" binding="tns:PasswordWSPortBinding">
      <soap:address location="http://72.44.47.118:8080/LP2MegaAutosServices/PasswordWS" />
    </port>
  </service>
</definitions>