ProyectosNET/LP2MegaAutos/Connected Services/ServicioAreaTrabajo/AreaTrabajoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.megaautos.com.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AreaTrabajoWS" targetNamespace="http://services.megaautos.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://72.44.47.118:8080/LP2MegaAutosServices/AreaTrabajoWS?xsd=1" namespace="http://services.megaautos.com.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarAreaTrabajo">
    <part name="parameters" element="tns:eliminarAreaTrabajo" />
  </message>
  <message name="eliminarAreaTrabajoResponse">
    <part name="parameters" element="tns:eliminarAreaTrabajoResponse" />
  </message>
  <message name="insertarAreaTrabajo">
    <part name="parameters" element="tns:insertarAreaTrabajo" />
  </message>
  <message name="insertarAreaTrabajoResponse">
    <part name="parameters" element="tns:insertarAreaTrabajoResponse" />
  </message>
  <message name="actualizarAreaTrabajo">
    <part name="parameters" element="tns:actualizarAreaTrabajo" />
  </message>
  <message name="actualizarAreaTrabajoResponse">
    <part name="parameters" element="tns:actualizarAreaTrabajoResponse" />
  </message>
  <message name="listarAreaTrabajo">
    <part name="parameters" element="tns:listarAreaTrabajo" />
  </message>
  <message name="listarAreaTrabajoResponse">
    <part name="parameters" element="tns:listarAreaTrabajoResponse" />
  </message>
  <portType name="AreaTrabajoWS">
    <operation name="eliminarAreaTrabajo">
      <input wsam:Action="http://services.megaautos.com.pe/AreaTrabajoWS/eliminarAreaTrabajoRequest" message="tns:eliminarAreaTrabajo" />
      <output wsam:Action="http://services.megaautos.com.pe/AreaTrabajoWS/eliminarAreaTrabajoResponse" message="tns:eliminarAreaTrabajoResponse" />
    </operation>
    <operation name="insertarAreaTrabajo">
      <input wsam:Action="http://services.megaautos.com.pe/AreaTrabajoWS/insertarAreaTrabajoRequest" message="tns:insertarAreaTrabajo" />
      <output wsam:Action="http://services.megaautos.com.pe/AreaTrabajoWS/insertarAreaTrabajoResponse" message="tns:insertarAreaTrabajoResponse" />
    </operation>
    <operation name="actualizarAreaTrabajo">
      <input wsam:Action="http://services.megaautos.com.pe/AreaTrabajoWS/actualizarAreaTrabajoRequest" message="tns:actualizarAreaTrabajo" />
      <output wsam:Action="http://services.megaautos.com.pe/AreaTrabajoWS/actualizarAreaTrabajoResponse" message="tns:actualizarAreaTrabajoResponse" />
    </operation>
    <operation name="listarAreaTrabajo">
      <input wsam:Action="http://services.megaautos.com.pe/AreaTrabajoWS/listarAreaTrabajoRequest" message="tns:listarAreaTrabajo" />
      <output wsam:Action="http://services.megaautos.com.pe/AreaTrabajoWS/listarAreaTrabajoResponse" message="tns:listarAreaTrabajoResponse" />
    </operation>
  </portType>
  <binding name="AreaTrabajoWSPortBinding" type="tns:AreaTrabajoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarAreaTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAreaTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarAreaTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAreaTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AreaTrabajoWS">
    <port name="AreaTrabajoWSPort" binding="tns:AreaTrabajoWSPortBinding">
      <soap:address location="http://72.44.47.118:8080/LP2MegaAutosServices/AreaTrabajoWS" />
    </port>
  </service>
</definitions>