ProyectosNET/LP2MegaAutos/Connected Services/ServicioVehiculo/VehiculoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarVehiculo" type="tns:actualizarVehiculo" />
  <xs:element name="actualizarVehiculoResponse" type="tns:actualizarVehiculoResponse" />
  <xs:element name="eliminarVehiculo" type="tns:eliminarVehiculo" />
  <xs:element name="eliminarVehiculoResponse" type="tns:eliminarVehiculoResponse" />
  <xs:element name="insertarVehiculo" type="tns:insertarVehiculo" />
  <xs:element name="insertarVehiculoResponse" type="tns:insertarVehiculoResponse" />
  <xs:element name="listarVehiculos" type="tns:listarVehiculos" />
  <xs:element name="listarVehiculosResponse" type="tns:listarVehiculosResponse" />
  <xs:complexType name="insertarVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="objVehiculo" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="propietario" type="tns:cliente" />
      <xs:element minOccurs="0" name="tipoVehiculo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCliente" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVehiculoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVehiculos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarVehiculosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarVehiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="objVehiculo" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarVehiculoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarVehiculo">
    <xs:sequence>
      <xs:element name="idVehiculo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarVehiculoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>