ProyectosNET/LP2MegaAutos/Connected Services/ServicioVehiculo/VehiculoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.megaautos.com.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="VehiculoWS" targetNamespace="http://services.megaautos.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://72.44.47.118:8080/LP2MegaAutosServices/VehiculoWS?xsd=1" namespace="http://services.megaautos.com.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarVehiculo">
    <part name="parameters" element="tns:actualizarVehiculo" />
  </message>
  <message name="actualizarVehiculoResponse">
    <part name="parameters" element="tns:actualizarVehiculoResponse" />
  </message>
  <message name="eliminarVehiculo">
    <part name="parameters" element="tns:eliminarVehiculo" />
  </message>
  <message name="eliminarVehiculoResponse">
    <part name="parameters" element="tns:eliminarVehiculoResponse" />
  </message>
  <message name="listarVehiculos">
    <part name="parameters" element="tns:listarVehiculos" />
  </message>
  <message name="listarVehiculosResponse">
    <part name="parameters" element="tns:listarVehiculosResponse" />
  </message>
  <message name="insertarVehiculo">
    <part name="parameters" element="tns:insertarVehiculo" />
  </message>
  <message name="insertarVehiculoResponse">
    <part name="parameters" element="tns:insertarVehiculoResponse" />
  </message>
  <portType name="VehiculoWS">
    <operation name="actualizarVehiculo">
      <input wsam:Action="http://services.megaautos.com.pe/VehiculoWS/actualizarVehiculoRequest" message="tns:actualizarVehiculo" />
      <output wsam:Action="http://services.megaautos.com.pe/VehiculoWS/actualizarVehiculoResponse" message="tns:actualizarVehiculoResponse" />
    </operation>
    <operation name="eliminarVehiculo">
      <input wsam:Action="http://services.megaautos.com.pe/VehiculoWS/eliminarVehiculoRequest" message="tns:eliminarVehiculo" />
      <output wsam:Action="http://services.megaautos.com.pe/VehiculoWS/eliminarVehiculoResponse" message="tns:eliminarVehiculoResponse" />
    </operation>
    <operation name="listarVehiculos">
      <input wsam:Action="http://services.megaautos.com.pe/VehiculoWS/listarVehiculosRequest" message="tns:listarVehiculos" />
      <output wsam:Action="http://services.megaautos.com.pe/VehiculoWS/listarVehiculosResponse" message="tns:listarVehiculosResponse" />
    </operation>
    <operation name="insertarVehiculo">
      <input wsam:Action="http://services.megaautos.com.pe/VehiculoWS/insertarVehiculoRequest" message="tns:insertarVehiculo" />
      <output wsam:Action="http://services.megaautos.com.pe/VehiculoWS/insertarVehiculoResponse" message="tns:insertarVehiculoResponse" />
    </operation>
  </portType>
  <binding name="VehiculoWSPortBinding" type="tns:VehiculoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarVehiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarVehiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarVehiculos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarVehiculo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="VehiculoWS">
    <port name="VehiculoWSPort" binding="tns:VehiculoWSPortBinding">
      <soap:address location="http://72.44.47.118:8080/LP2MegaAutosServices/VehiculoWS" />
    </port>
  </service>
</definitions>