ProyectosNET/LP2MegaAutos/Connected Services/ServicioUsuario/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.megaautos.com.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UsuarioWS" targetNamespace="http://services.megaautos.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://72.44.47.118:8080/LP2MegaAutosServices/UsuarioWS?xsd=1" namespace="http://services.megaautos.com.pe/" />
    </xsd:schema>
  </types>
  <message name="activarInactivo">
    <part name="parameters" element="tns:activarInactivo" />
  </message>
  <message name="activarInactivoResponse">
    <part name="parameters" element="tns:activarInactivoResponse" />
  </message>
  <message name="actualizarUsuarioPassword">
    <part name="parameters" element="tns:actualizarUsuarioPassword" />
  </message>
  <message name="actualizarUsuarioPasswordResponse">
    <part name="parameters" element="tns:actualizarUsuarioPasswordResponse" />
  </message>
  <message name="listarUsuariosInactivos">
    <part name="parameters" element="tns:listarUsuariosInactivos" />
  </message>
  <message name="listarUsuariosInactivosResponse">
    <part name="parameters" element="tns:listarUsuariosInactivosResponse" />
  </message>
  <message name="verificarPassword">
    <part name="parameters" element="tns:verificarPassword" />
  </message>
  <message name="verificarPasswordResponse">
    <part name="parameters" element="tns:verificarPasswordResponse" />
  </message>
  <message name="actualizarUsuario">
    <part name="parameters" element="tns:actualizarUsuario" />
  </message>
  <message name="actualizarUsuarioResponse">
    <part name="parameters" element="tns:actualizarUsuarioResponse" />
  </message>
  <message name="buscarPorCorreo">
    <part name="parameters" element="tns:buscarPorCorreo" />
  </message>
  <message name="buscarPorCorreoResponse">
    <part name="parameters" element="tns:buscarPorCorreoResponse" />
  </message>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="activarInactivo">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/activarInactivoRequest" message="tns:activarInactivo" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/activarInactivoResponse" message="tns:activarInactivoResponse" />
    </operation>
    <operation name="actualizarUsuarioPassword">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/actualizarUsuarioPasswordRequest" message="tns:actualizarUsuarioPassword" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/actualizarUsuarioPasswordResponse" message="tns:actualizarUsuarioPasswordResponse" />
    </operation>
    <operation name="listarUsuariosInactivos">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/listarUsuariosInactivosRequest" message="tns:listarUsuariosInactivos" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/listarUsuariosInactivosResponse" message="tns:listarUsuariosInactivosResponse" />
    </operation>
    <operation name="verificarPassword">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/verificarPasswordRequest" message="tns:verificarPassword" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/verificarPasswordResponse" message="tns:verificarPasswordResponse" />
    </operation>
    <operation name="actualizarUsuario">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/actualizarUsuarioRequest" message="tns:actualizarUsuario" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse" />
    </operation>
    <operation name="buscarPorCorreo">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/buscarPorCorreoRequest" message="tns:buscarPorCorreo" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/buscarPorCorreoResponse" message="tns:buscarPorCorreoResponse" />
    </operation>
    <operation name="listarUsuarios">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
    <operation name="eliminarUsuario">
      <input wsam:Action="http://services.megaautos.com.pe/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="http://services.megaautos.com.pe/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="activarInactivo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarUsuarioPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosInactivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarPassword">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPorCorreo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://72.44.47.118:8080/LP2MegaAutosServices/UsuarioWS" />
    </port>
  </service>
</definitions>