ProyectosNET/LP2MegaAutos/Connected Services/ServicioExcel/ExcelWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarArchivoEntrada" type="tns:insertarArchivoEntrada" />
  <xs:element name="insertarArchivoEntradaResponse" type="tns:insertarArchivoEntradaResponse" />
  <xs:element name="insertarArchivoSalida" type="tns:insertarArchivoSalida" />
  <xs:element name="insertarArchivoSalidaResponse" type="tns:insertarArchivoSalidaResponse" />
  <xs:element name="leerArchivoEntrada" type="tns:leerArchivoEntrada" />
  <xs:element name="leerArchivoEntradaResponse" type="tns:leerArchivoEntradaResponse" />
  <xs:element name="leerArchivoSalida" type="tns:leerArchivoSalida" />
  <xs:element name="leerArchivoSalidaResponse" type="tns:leerArchivoSalidaResponse" />
  <xs:element name="procesar" type="tns:procesar" />
  <xs:element name="procesarResponse" type="tns:procesarResponse" />
  <xs:complexType name="leerArchivoSalida">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="leerArchivoSalidaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:excel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="excel">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" type="xs:base64Binary" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="procesar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:excel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="procesarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:excel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarArchivoEntrada">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" type="tns:excel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarArchivoEntradaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="leerArchivoEntrada">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="leerArchivoEntradaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:excel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarArchivoSalida">
    <xs:sequence>
      <xs:element minOccurs="0" name="archivo" type="tns:excel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarArchivoSalidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>