ProyectosNET/LP2MegaAutos/Connected Services/ServicioDriver/DriverWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarDriver" type="tns:actualizarDriver" />
  <xs:element name="actualizarDriverResponse" type="tns:actualizarDriverResponse" />
  <xs:element name="eliminarDriver" type="tns:eliminarDriver" />
  <xs:element name="eliminarDriverResponse" type="tns:eliminarDriverResponse" />
  <xs:element name="insertarDriver" type="tns:insertarDriver" />
  <xs:element name="insertarDriverResponse" type="tns:insertarDriverResponse" />
  <xs:element name="listarDrivers" type="tns:listarDrivers" />
  <xs:element name="listarDriversResponse" type="tns:listarDriversResponse" />
  <xs:complexType name="listarDrivers">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarDriversResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:driver" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="driver">
    <xs:sequence>
      <xs:element name="formula" type="xs:double" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="objDriver" type="tns:driver" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDriverResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDriver">
    <xs:sequence>
      <xs:element name="idDriver" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarDriverResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDriver">
    <xs:sequence>
      <xs:element minOccurs="0" name="objDriver" type="tns:driver" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarDriverResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>