ProyectosNET/LP2MegaAutos/Connected Services/ServicioEmpresa/EmpresaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarEmpresa" type="tns:actualizarEmpresa" />
  <xs:element name="actualizarEmpresaResponse" type="tns:actualizarEmpresaResponse" />
  <xs:element name="eliminarEmpresa" type="tns:eliminarEmpresa" />
  <xs:element name="eliminarEmpresaResponse" type="tns:eliminarEmpresaResponse" />
  <xs:element name="insertarEmpresa" type="tns:insertarEmpresa" />
  <xs:element name="insertarEmpresaResponse" type="tns:insertarEmpresaResponse" />
  <xs:element name="listarEmpresa" type="tns:listarEmpresa" />
  <xs:element name="listarEmpresaResponse" type="tns:listarEmpresaResponse" />
  <xs:complexType name="listarEmpresa">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="objEmrpesa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpresa">
    <xs:sequence>
      <xs:element name="idEmpresa" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEmpresaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="objEmpresa" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarEmpresaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>