ProyectosNET/LP2MegaAutos/Connected Services/ServicioCliente/ClienteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarCliente" type="tns:actualizarCliente" />
  <xs:element name="actualizarClienteResponse" type="tns:actualizarClienteResponse" />
  <xs:element name="buscarPorNombre" type="tns:buscarPorNombre" />
  <xs:element name="buscarPorNombreResponse" type="tns:buscarPorNombreResponse" />
  <xs:element name="eliminarCliente" type="tns:eliminarCliente" />
  <xs:element name="eliminarClienteResponse" type="tns:eliminarClienteResponse" />
  <xs:element name="insertarCliente" type="tns:insertarCliente" />
  <xs:element name="insertarClienteResponse" type="tns:insertarClienteResponse" />
  <xs:element name="listarClientes" type="tns:listarClientes" />
  <xs:element name="listarClientesResponse" type="tns:listarClientesResponse" />
  <xs:complexType name="eliminarCliente">
    <xs:sequence>
      <xs:element name="idCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCliente" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="objCliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPorNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="objCliente" type="tns:cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarClienteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>