ProyectosNET/LP2MegaAutos/Connected Services/ServicioCliente/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.megaautos.com.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ClienteWS" targetNamespace="http://services.megaautos.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://72.44.47.118:8080/LP2MegaAutosServices/ClienteWS?xsd=1" namespace="http://services.megaautos.com.pe/" />
    </xsd:schema>
  </types>
  <message name="listarClientes">
    <part name="parameters" element="tns:listarClientes" />
  </message>
  <message name="listarClientesResponse">
    <part name="parameters" element="tns:listarClientesResponse" />
  </message>
  <message name="insertarCliente">
    <part name="parameters" element="tns:insertarCliente" />
  </message>
  <message name="insertarClienteResponse">
    <part name="parameters" element="tns:insertarClienteResponse" />
  </message>
  <message name="eliminarCliente">
    <part name="parameters" element="tns:eliminarCliente" />
  </message>
  <message name="eliminarClienteResponse">
    <part name="parameters" element="tns:eliminarClienteResponse" />
  </message>
  <message name="buscarPorNombre">
    <part name="parameters" element="tns:buscarPorNombre" />
  </message>
  <message name="buscarPorNombreResponse">
    <part name="parameters" element="tns:buscarPorNombreResponse" />
  </message>
  <message name="actualizarCliente">
    <part name="parameters" element="tns:actualizarCliente" />
  </message>
  <message name="actualizarClienteResponse">
    <part name="parameters" element="tns:actualizarClienteResponse" />
  </message>
  <portType name="ClienteWS">
    <operation name="listarClientes">
      <input wsam:Action="http://services.megaautos.com.pe/ClienteWS/listarClientesRequest" message="tns:listarClientes" />
      <output wsam:Action="http://services.megaautos.com.pe/ClienteWS/listarClientesResponse" message="tns:listarClientesResponse" />
    </operation>
    <operation name="insertarCliente">
      <input wsam:Action="http://services.megaautos.com.pe/ClienteWS/insertarClienteRequest" message="tns:insertarCliente" />
      <output wsam:Action="http://services.megaautos.com.pe/ClienteWS/insertarClienteResponse" message="tns:insertarClienteResponse" />
    </operation>
    <operation name="eliminarCliente">
      <input wsam:Action="http://services.megaautos.com.pe/ClienteWS/eliminarClienteRequest" message="tns:eliminarCliente" />
      <output wsam:Action="http://services.megaautos.com.pe/ClienteWS/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
    </operation>
    <operation name="buscarPorNombre">
      <input wsam:Action="http://services.megaautos.com.pe/ClienteWS/buscarPorNombreRequest" message="tns:buscarPorNombre" />
      <output wsam:Action="http://services.megaautos.com.pe/ClienteWS/buscarPorNombreResponse" message="tns:buscarPorNombreResponse" />
    </operation>
    <operation name="actualizarCliente">
      <input wsam:Action="http://services.megaautos.com.pe/ClienteWS/actualizarClienteRequest" message="tns:actualizarCliente" />
      <output wsam:Action="http://services.megaautos.com.pe/ClienteWS/actualizarClienteResponse" message="tns:actualizarClienteResponse" />
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="http://72.44.47.118:8080/LP2MegaAutosServices/ClienteWS" />
    </port>
  </service>
</definitions>