ProyectosNET/LP2MegaAutos/Connected Services/ServicioServicio/ServicioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.megaautos.com.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ServicioWS" targetNamespace="http://services.megaautos.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://72.44.47.118:8080/LP2MegaAutosServices/ServicioWS?xsd=1" namespace="http://services.megaautos.com.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarServicio">
    <part name="parameters" element="tns:eliminarServicio" />
  </message>
  <message name="eliminarServicioResponse">
    <part name="parameters" element="tns:eliminarServicioResponse" />
  </message>
  <message name="listarServicios">
    <part name="parameters" element="tns:listarServicios" />
  </message>
  <message name="listarServiciosResponse">
    <part name="parameters" element="tns:listarServiciosResponse" />
  </message>
  <message name="insertarServicio">
    <part name="parameters" element="tns:insertarServicio" />
  </message>
  <message name="insertarServicioResponse">
    <part name="parameters" element="tns:insertarServicioResponse" />
  </message>
  <message name="actualizarServicio">
    <part name="parameters" element="tns:actualizarServicio" />
  </message>
  <message name="actualizarServicioResponse">
    <part name="parameters" element="tns:actualizarServicioResponse" />
  </message>
  <portType name="ServicioWS">
    <operation name="eliminarServicio">
      <input wsam:Action="http://services.megaautos.com.pe/ServicioWS/eliminarServicioRequest" message="tns:eliminarServicio" />
      <output wsam:Action="http://services.megaautos.com.pe/ServicioWS/eliminarServicioResponse" message="tns:eliminarServicioResponse" />
    </operation>
    <operation name="listarServicios">
      <input wsam:Action="http://services.megaautos.com.pe/ServicioWS/listarServiciosRequest" message="tns:listarServicios" />
      <output wsam:Action="http://services.megaautos.com.pe/ServicioWS/listarServiciosResponse" message="tns:listarServiciosResponse" />
    </operation>
    <operation name="insertarServicio">
      <input wsam:Action="http://services.megaautos.com.pe/ServicioWS/insertarServicioRequest" message="tns:insertarServicio" />
      <output wsam:Action="http://services.megaautos.com.pe/ServicioWS/insertarServicioResponse" message="tns:insertarServicioResponse" />
    </operation>
    <operation name="actualizarServicio">
      <input wsam:Action="http://services.megaautos.com.pe/ServicioWS/actualizarServicioRequest" message="tns:actualizarServicio" />
      <output wsam:Action="http://services.megaautos.com.pe/ServicioWS/actualizarServicioResponse" message="tns:actualizarServicioResponse" />
    </operation>
  </portType>
  <binding name="ServicioWSPortBinding" type="tns:ServicioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarServicios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarServicio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWS">
    <port name="ServicioWSPort" binding="tns:ServicioWSPortBinding">
      <soap:address location="http://72.44.47.118:8080/LP2MegaAutosServices/ServicioWS" />
    </port>
  </service>
</definitions>