ProyectosNET/LP2MegaAutos/Connected Services/ServicioSede/SedeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.megaautos.com.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SedeWS" targetNamespace="http://services.megaautos.com.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://72.44.47.118:8080/LP2MegaAutosServices/SedeWS?xsd=1" namespace="http://services.megaautos.com.pe/" />
    </xsd:schema>
  </types>
  <message name="listarSedes">
    <part name="parameters" element="tns:listarSedes" />
  </message>
  <message name="listarSedesResponse">
    <part name="parameters" element="tns:listarSedesResponse" />
  </message>
  <message name="insertarSede">
    <part name="parameters" element="tns:insertarSede" />
  </message>
  <message name="insertarSedeResponse">
    <part name="parameters" element="tns:insertarSedeResponse" />
  </message>
  <message name="actualizarSede">
    <part name="parameters" element="tns:actualizarSede" />
  </message>
  <message name="actualizarSedeResponse">
    <part name="parameters" element="tns:actualizarSedeResponse" />
  </message>
  <message name="eliminarSede">
    <part name="parameters" element="tns:eliminarSede" />
  </message>
  <message name="eliminarSedeResponse">
    <part name="parameters" element="tns:eliminarSedeResponse" />
  </message>
  <portType name="SedeWS">
    <operation name="listarSedes">
      <input wsam:Action="http://services.megaautos.com.pe/SedeWS/listarSedesRequest" message="tns:listarSedes" />
      <output wsam:Action="http://services.megaautos.com.pe/SedeWS/listarSedesResponse" message="tns:listarSedesResponse" />
    </operation>
    <operation name="insertarSede">
      <input wsam:Action="http://services.megaautos.com.pe/SedeWS/insertarSedeRequest" message="tns:insertarSede" />
      <output wsam:Action="http://services.megaautos.com.pe/SedeWS/insertarSedeResponse" message="tns:insertarSedeResponse" />
    </operation>
    <operation name="actualizarSede">
      <input wsam:Action="http://services.megaautos.com.pe/SedeWS/actualizarSedeRequest" message="tns:actualizarSede" />
      <output wsam:Action="http://services.megaautos.com.pe/SedeWS/actualizarSedeResponse" message="tns:actualizarSedeResponse" />
    </operation>
    <operation name="eliminarSede">
      <input wsam:Action="http://services.megaautos.com.pe/SedeWS/eliminarSedeRequest" message="tns:eliminarSede" />
      <output wsam:Action="http://services.megaautos.com.pe/SedeWS/eliminarSedeResponse" message="tns:eliminarSedeResponse" />
    </operation>
  </portType>
  <binding name="SedeWSPortBinding" type="tns:SedeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarSedes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SedeWS">
    <port name="SedeWSPort" binding="tns:SedeWSPortBinding">
      <soap:address location="http://72.44.47.118:8080/LP2MegaAutosServices/SedeWS" />
    </port>
  </service>
</definitions>