ProyectosNET/LP2MegaAutos/Connected Services/ServicioComprobantePago/ComprobantePagoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.megaautos.com.pe/" targetNamespace="http://services.megaautos.com.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarComprobantePago" type="tns:actualizarComprobantePago" />
  <xs:element name="actualizarComprobantePagoResponse" type="tns:actualizarComprobantePagoResponse" />
  <xs:element name="eliminarComprobantePago" type="tns:eliminarComprobantePago" />
  <xs:element name="eliminarComprobantePagoResponse" type="tns:eliminarComprobantePagoResponse" />
  <xs:element name="insertarComprobantePago" type="tns:insertarComprobantePago" />
  <xs:element name="insertarComprobantePagoResponse" type="tns:insertarComprobantePagoResponse" />
  <xs:element name="listarComprobantePago" type="tns:listarComprobantePago" />
  <xs:element name="listarComprobantePagoResponse" type="tns:listarComprobantePagoResponse" />
  <xs:complexType name="insertarComprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="objComprobantePago" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="numeroComprobante" type="xs:string" />
      <xs:element minOccurs="0" name="ordenTrabajo" type="tns:ordenTrabajo" />
      <xs:element minOccurs="0" name="tipoComprobante" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ordenTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="comprobantePago" type="tns:comprobantePago" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="numeroOrden" type="xs:string" />
      <xs:element minOccurs="0" name="sede" type="tns:sede" />
      <xs:element name="totalEgresos" type="xs:double" />
      <xs:element name="totalIngresos" type="xs:double" />
      <xs:element minOccurs="0" name="vehiculo" type="tns:vehiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numDocumento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoCliente" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiculo">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="placa" type="xs:string" />
      <xs:element minOccurs="0" name="propietario" type="tns:cliente" />
      <xs:element minOccurs="0" name="tipoVehiculo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarComprobantePagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarComprobantePago">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarComprobantePagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarComprobantePago">
    <xs:sequence>
      <xs:element minOccurs="0" name="objComprobantePago" type="tns:comprobantePago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarComprobantePagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarComprobantePago">
    <xs:sequence>
      <xs:element name="idCp" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarComprobantePagoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>